.App {

}
*{
    margin:0;
    padding:0;

}
hr{
    width:100%;
}
h2,h1,h3{
    margin:0;
    padding:0;
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
}
textArea{
 flex:1;
    resize: none; /*disables the resize option which appears at the bottom right corner*/
    background-color: black;
    color:white;
    font-size:30px;
}
.editor{
    display:flex;
    flex-direction: row;
}
.outputWindow{
    display: flex;
    flex-direction: column;
    flex:1;
    background-color: black;

    color:white;

    font-size:40px;
}



